bidict==0.21.4
click==8.0.3
dnspython==2.1.0
eventlet==0.33.0
Flask==2.0.2
Flask-MQTT==1.1.1
Flask-SocketIO==5.1.1
Flask-RESTful==0.3.9
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
paho-mqtt==1.6.1
python-engineio==4.3.0
python-socketio==5.5.0
six==1.16.0
Werkzeug==2.0.2
